---
import "../styles/global.css";
import Navbar from "../components/navbar.tsx";

---

<html>
  <head>
    <title>Medical Quiz</title>
  </head>
  <body>
    <Navbar />
    <h1 class="text-red-500">Hello World</h1>
  </body>
</html>
